{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <h4>Send, Receive, and Spend Money Securely with PayPal</h4>
        <p>Join over 350 million users worldwide!</p>
        <p class="lead">
            This is <b>user registration and login system</b>
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg">
                        Logout
                    </button>
                </form>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}